<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing Tensorflow JS</title>
    <script
      src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"
      type="text/javascript"
    ></script>
    <script src="script.js" type="text/javascript"></script>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <!-- <img src="static\Symbol.png" id="logo" /> -->
    <img src="Symbol.png" id="logo" />
    <h1 id="main_heading">Image Leaf Classifier</h1>
    <label for="image">
      Upload an image <br />
      <input
        name="imagefile"
        type="file"
        id="image"
        onchange="loadFile(event)"
      />
    </label>
    <br />
    <img id="display-image" /> <br />
    <button onclick="predictModel()" id="predict_button">Click me</button>
    <div class="main_div">
      <div id="segmented_div" class="data_div">
        <h2 class="heading">Segmented image</h2>
        <!-- {% if segmented_results %} {% for model in segmented_results %}
        <div class="results">
          <div class="model_used">{{ model }}</div>
          <div class="predicted_result">
            Prediction is : {{ segmented_results[model][0] }}
          </div>
          <div class="probability_predicted">
            Probability is : {{ segmented_results[model][1] }}
          </div>
        </div>
        {% endfor %} {% endif %} -->
      </div>
      <div id="non_segmented_div" class="data_div">
        <h2 class="heading">Non-segmented image</h2>

        <!-- {% if non_segmented_results %} {% for model in non_segmented_results %}
        <div class="results">
          <div class="model_used">{{ model }}</div>
          <div class="predicted_result">
            Prediction is : {{ non_segmented_results[model][0] }}
          </div>
          <div class="probability_predicted">
            Probability is : {{ non_segmented_results[model][1] }}
          </div>
        </div>
        {% endfor %} {% endif %} -->
      </div>
    </div>
  </body>
</html>
